{% extends 'user_home/navbar.html' %}
{% block content %}
<div class="page-title parallax parallax1" style="background-position: 50% 45px;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">                    
                <div class="page-title-heading">
                    <h1 class="title">Departments</h1>
                </div><!-- /.page-title-captions --> 
                
            </div><!-- /.col-md-12 -->  
        </div><!-- /.row -->  
    </div><!-- /.container -->                      
</div>


<section class="flat-row pad-top50px pad-bottom90px">
    <div class="container">
        <div class="row">
           
           {% for d in departments %}
           <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="flat-courses">
                <div class="courses-thumbnail">
                    <a href="{% url 'departments_details' id=d.id %}"><img src="{{ d.image.url }}" alt="image"></a>
                    <a class="courses-viewmore" href="{% url 'departments_details' id=d.id %}">View more</a>
                </div>
                <div class="courses-content">
                    <a href="{% url 'departments_details' id=d.id %}"><h6 class="courses-topic" >{{ d.Name }}</h6></a>
                </div>
            </div><!-- /.flat-courses -->
        </div><!-- /.col-md-3 -->
           {% endfor %}
               
         
        </div><!-- /.row -->

        <div class="row">
            <div class="flat-divider d40px"></div>
        </div>
    </div><!-- /.container -->
</section>


    

{% endblock content %}
    