{% extends 'user_home/navbar.html' %}
{% load static %}
{% block content %}
<div class="page-title parallax parallax1" style="background-position: 50% 45px;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">                    
                <div class="page-title-heading">
                    <h1 class="title">About Us</h1>
                </div><!-- /.page-title-captions --> 
                
            </div><!-- /.col-md-12 -->  
        </div><!-- /.row -->  
    </div><!-- /.container -->                      
</div>

<section class="flat-row pad-bottom90px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="thumb-content-box">
                    <img src="{% static 'assets/images/about.jpg' %}" alt="image">
                   
                </div>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-md-14">
                <div class="content-box">
                    <h2 class="title"><a href="#">Who We Are</a></h2>
                    <div class="content">
                        <p style="font-size: 16px; font-weight: bold;">   Goverment Polytechnic College, Muttom is one of the Technical institutions in Idukki district situated at Thodupuzha, Muttom. It functions along with the other educational institutions in Central Travancore, which carries a creditable record of Supplying several technicians, technologists, architects and a group of talented persons to the nation.</p>
                        <p style="font-size: 16px; font-weight: bold;"> Government Polytechnic College, Muttom was established in the year 1981. The scenic beauty and serenity of the surroundings appears most suited for academic pursuits. The institution stands less than half kilometer from Muttom Court junction, which is 8 kilometer away from thodupuzha. Regular bus-service on this major route between Thodupuha and Moolamattom make journey to the college quite an easy Thing.. At present the institution is in a campus of 20 acres at Muttom, Thodupuzha.
                           </p>
                        <p  style="font-size: 16px; font-weight: bold;"> We offer 5 numbers of three year diploma programmes. Our programmes are Mechanical Engineering,Civil Engineering,Electricaltrical and Electronics Engineering,Computer Engineering and Electronics Engineering. </p>

                    </div>
                </div>
            </div><br><br><!-- /.col-md-6 --> 

            <div class="col-md-14 ">
                <div class="content-box">
                    <h2 class="title"><a href="#">Vision</a></h2>
                    <div class="content">
                        <p  style="font-size: 16px; font-weight: bold;">"To be a centre of excellence in engineering by moulding socially committed professionals for the sustainable development of the nation.".</p>
                    </div>
                </div>
            </div><br>
            <div class="col-md-14">
                <div class="content-box">
                    <h2 class="title"><a href="#">Mission</a></h2>
                    <div class="content">
                       
                            <ul style="font-size: 16px; font-weight: bold;">
                                <li>To impart state-of-the-art facilities to achieve excellence in academic and engineering skills.</li>
                                <li>To create an environment conducive to technology transfer with industry and entrepreneurship skills</li>
                                <li>To inculcate ethical values and life-long learning for the sustainable development of the nation.</li>
                            </ul>
                      
                    </div>
                </div>
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
{% endblock content %}
    