{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>GOVT. polytchenic college muttom reset password section</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}">
    
    <!-- CSS
	============================================ -->
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="{% static 'css/icons.min.css' %}">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    
        <div class="container mt-5">
            <div class="breadcrumb-content text-center">
                <ul>
                    <li>
                       <img src="{% static 'assets/images/gptc_logo1.png' %}" alt="" width="500px">
                    </li>
                </ul>
            </div>
        </div>
  

    <div class="login-register-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                    <div class="login-register-wrapper">
                        <div class="login-register-tab-list nav">
                            <a class="active" data-toggle="tab" href="#lg1">
                                <h4 class="text-light">  </h4>
                            </a>
                        </div>
                        <div class="tab-content">
                            <div id="lg1" class="tab-pane active">
                                <div class="login-form-container">
                                    <div class="login-register-form">
                                        <p id="sent">hi {{name}}</p>
                                        <p>Thank you for feedbakin us</p>
                                       
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- All JS is here
============================================ -->

<script src="{% static 'js/vendor/modernizr-3.6.0.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<!-- Ajax Mail -->
<script src="{% static 'js/ajax-mail.js' %}"></script>
<!-- Main JS -->
<script src="{% static 'js/main.js' %}"></script>

</body>
<style>
  body{
    background:#2b3341;
  }
  .tab-content{
      background: #fff;
      box-shadow: 0px 0px 10px 0px;
      border-radius: 10px;
  }
  #reset{
      color: red;
  }
  #sent{
     
     font-weight: bold;

  }
  #reset:hover{
     
     text-decoration: underline;
     
  }


</style>

</html>
      